<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Test App</h1>
      <p>Sample App to understand Webhooks</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Dummy Button</a></p>
    </div>
  </div>

  <script src="/javascript/main.js"></script>
</body>
</html>